@{
    ViewBag.Title = "Acerca de Viveiros Zêzere";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Fundada em 1991, pelo seu atual sócio, Manuel Cotrim Marques, iniciou a sua atividade na área da plantação florestal, construção de jardins e manutenção de jardins, em Santarém.</p>
<p>O seu objetivo tem sido ao longo dos anos, o rigor, a qualidade e o crescimento da empresa, tendo assim, alargado a sua atuação, na construção de piscinas, construção de lagos e construção de lagoas biológicas.</p>
<p>Mais recentemente, desde 2006, abriu um espaço dedicado ao público, com venda de plantas, tanto plantas ornamentais como plantas florestais, artigos de jardim e decoração de jardins.</p>
<p>Dispomos atualmente de uma equipa de 11 profissionais, divididos por diferentes especialidades, bem como equipamento mecânico adequado, de forma a darmos uma resposta mais eficaz e atempada, nas diferentes áreas de intervenção.</p>
<p>Estamos sediados no lugar da Venda da Serra, em Ferreira do Zêzere e a 15 Km da cidade de Tomar, distrito de Santarém.</p>
<p>Dispomos de uma área coberta de 700m² (incluindo a estufa), dedicada à venda de plantas de interior, artigos de jardim e de decoração de jardins e um viveiro de 5.000m² de árvores ornamentais de exterior, árvores florestais, árvores vitícolas e árvores de fruto.</p>