@{
    ViewBag.Title = "Acerca de Viveiros Zêzere";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>A Viveiros Zêzere surgiu inicialmente em Ferreira do Zêzere em 1988.</p>
<p>Recentemente a Viveiros Zêzere abriu uma filial em Tomar, e aproveitou para fazer um site para ter assim
    o seu trabalho representado Online.</p>
<p>A Viveiros Zêzere tem como tipo de utilizadores:</p>

<h3>Administrador</h3>
<p><b>Joao Gracio</b>  <a href="/Home/Contact">Ver Conctacto</a></p>
<p></p>
<h3>Profissional</h3>
<p><b>Ana Gois</b>  <a href="/Home/Contact">Ver Conctacto</a></p>
<p></p>
<h3>Cliente</h3>
<p><b>Casimiro Pereira</b>  <a href="/Home/Contact">Ver Conctacto</a></p>
<p><b>Casimiro Batista</b>  <a href="/Home/Contact">Ver Conctacto</a></p>
<p><b>Pedro Dias</b>  <a href="/Home/Contact">Ver Conctacto</a></p>