@{
    ViewBag.Title = "Utilizadores Disponinveis";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Utilizadores que o avaliador da disciplina deve usar nesta avaliacão.</p>

<h3>Administrador</h3>
<p>Email: estt16172@ipt.pt</p>
<p>Password: 123_Asd</p>

<h3>Profissinal</h3>
<p>Email: loliveira@ipt.pt</p>
<p>Password: 123_Asd</p>

<h3>Clientes</h3>
<p>Email: casimiro@ipt.pt</p>
<p>Password: 123_Asd</p>
<p></p>
<p>Email: laa@ipt.pt</p>
<p>Password: 123_Asd</p>
<p></p>
<p>Email: pedrodias@ipt.pt</p>
<p>Password: 123_Asd</p>