@{
    ViewBag.Title = "Utilizadores Disponinveis";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Utilizadores que o avaliador da disciplina deve usar nesta avaliacão.</p>

<h3>Administrador</h3>
<p>Email: joao_gracio@hotmail.com</p>
<p>Password: 123_Asd</p>

<h3>Profissinal</h3>
<p>Email: ana_gois@hotmail.com</p>
<p>Password: 123_Asd</p>

<h3>Clientes</h3>
<p>Email: casimiro_batista@hotmail.com</p>
<p>Password: 123_Asd</p>
<p></p>
<p>Email: casimiro_pereira@hotmail.com</p>
<p>Password: 123_Asd</p>
<p></p>
<p>Email: pedro_dias@hotmail.com</p>
<p>Password: 123_Asd</p>