@{
    ViewBag.Title = "Utilizadores Disponinveis";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Utilizadores que o avaliador da disciplina deve usar nesta avaliação.</p>

<p>Administrador do Sistema:</p>
<p>Email: joaogojuryu@hotmail.com</p>
<p>Password: Aa_123</p>