
@{
    ViewBag.Title = "Tranferencia";
}

<h2>Tranferencia</h2>

<br />

Se pretende fazer o pagamento desta compra por tranferencia bancaria, confirme.

@Html.ActionLink("Escolher outro metodo de pagamento", "MetodoDePagamento")

@Html.ActionLink("Confirmar pagamento por tranferencia", "Tranferencia(transferencia)")

